body{
    background-color:lightblue;
    background: linear-gradient(180deg, #000000 0%, #1b1035 40%, #4a1d6e 70%, #d76d77 90%, #ffaf7b 100%);
    background-repeat:no-repeat;
    transition: background 2s in-out infinite;
    height:100vh;
}
.page-header{
    background-image:linear-gradient(to right, coral 30%, purple 70%);
    text-align:center;
    color:white;
    border-radius: 10px;
}
.fact-card{
    color:white;
    background-color:darkblue;
    border-radius: 10px;
    padding: 5px;
}
.star{
    font-size: 30px;
    text-align: center;
    width: 50px;
    height: 50px;
    /* background-color:gold; */
    border-radius: 50%;
    animation: star 2s infinite alternate;
}
@keyframes star{
    from{
        /* transform: scale(1); */
        transform: translatex(00px);
        /* background-color:darkblue; */
    }
    to{
        /* transform: scale(1.5); */
        transform: translatex(100px);
        /* background-color:rgb(245, 245, 3) */
        ;
    }
}
